{{ 'diapositiva-nueva.css' | asset_url | stylesheet_tag }}



<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{%- liquid
 assign img_predeterminado="https://res.cloudinary.com/darps1cta/image/upload/v1681937216/sitioweb/5_razones_por_las_que_tu_negocio_necesita_una_tienda_virtual_en_Shopify_elugcl.jpg"

 -%}
 
<section class='diapositiva-nueva-desktop' >



      {%- for block in section.blocks -%}
   

        {% if block.settings.image_desktop  %}
        {% if block.settings.link_de_diapositiva %}
        
    <a href="{{block.settings.link_de_diapositiva}}" class="desktop-image">
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "desktop-image" }}
    </a>
  

    {% else %}
   
    <div class="desktop-image" >
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "desktop-image" }}
    </div>

    
  {% endif %}
  {% else %}
  
    <img
      class="banner-predeterminado desktop-image"
      alt="predeterminado desk"
      src={{img_predeterminado}}>
   
  {% endif %}
{% endfor %}      
     
</section>
<section class='diapositiva-nueva-mobil'>
  {% for block in section.blocks %}
  {% comment %} MOBIL {% endcomment %}
  {% if block.settings.image_mobile  %}
    {% if block.settings.link_de_diapositiva %}
   
    <a href="{{block.settings.link_de_diapositiva}}" class="mobile-image">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: "mobile-image" }}
    </a>
 
    {% else %}
    
    <div class="mobile-image">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: "mobile-image" }}
    </div>
  
    {% endif %}
    {% else %}
   
    <img
      class="banner-predeterminado mobile-image"
      alt="predeterminado mov"
      src={{img_predeterminado}}>
    
  {% endif %}

        {% endfor %}
</section>

<script>
$$(document).ready(function(){
  // Verifica el tamaño de pantalla al cargar la página
  if ($(window).width() > 767) {
    // Inicializa Slick solo para escritorio
    $('.diapositiva-nueva-desktop').slick({
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000
    });
  } else {
    // Inicializa Slick solo para móvil
    $('.diapositiva-nueva-mobil').slick({
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000
    });
  }
});

  
</script>

{% comment %}
Banner ropa - Fin
{% endcomment %}{% schema %}
  {
    "name": "Diapositiva nueva",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "texto_titulo",
        "label": "Titulo (Aun no esta activo para usarlo)"


      }
     
],
      "blocks": [
    {
      "type":"announcement",
      "name":"Diapositva +",
      "limit":4,
      "settings": [
        {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen para desktop"


      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen para mobil"

      },
      {
      "type":"url",
      "id":"link_de_diapositiva",
      "label":"Link de la diapositiva"
      }
      ]
    }

      ],
    "presets": [
      {
        "name": "Diapositiva nueva",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}