



<!-- Enlace al CSS de Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<!-- Enlace al JS de Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>


{%- liquid
 assign img_predeterminado="https://res.cloudinary.com/darps1cta/image/upload/v1681937216/sitioweb/5_razones_por_las_que_tu_negocio_necesita_una_tienda_virtual_en_Shopify_elugcl.jpg"

 -%}

<section class='diapositiva-nueva-desktop swiper-container ' >

<div class="swiper-wrapper">

      {%- for block in section.blocks -%}
   

        {% if block.settings.image_desktop  %}
        {% if block.settings.link_de_diapositiva %}
        
    <a href="{{block.settings.link_de_diapositiva}}" class="desktop-image swiper-slide">
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "swiper-slide desktop-image ",alt:"", loading: 'lazy' }}
    </a>
  

    {% else %}
   
    <div class=" swiper-slide desktop-image" >
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "swiper-slide desktop-image",alt:"", loading: 'lazy' }}
    </div>

    
  {% endif %}
  {% else %}
  
    <img
      class="banner-predeterminado desktop-image"
      alt="predeterminado desk"
      src={{img_predeterminado}}>
   
  {% endif %}
{% endfor %}      
</div>
  
</section>
<section class=' diapositiva-nueva-mobil swiper-container '>
    <div class="swiper-wrapper">
  {% for block in section.blocks %}
  {% comment %} MOBIL {% endcomment %}
  {% if block.settings.image_mobile  %}
    {% if block.settings.link_de_diapositiva %}
   
    <a href="{{block.settings.link_de_diapositiva}}" class="mobile-image swiper-slide">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: " swiper-slide mobile-image",alt:"", loading: 'lazy' }}
    </a>
 
    {% else %}
    
    <div class="swiper-slide mobile-image ">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: "swiper-slide mobile-image ",alt:"", loading: 'lazy' }}
    </div>
  
    {% endif %}
    {% else %}
   
    <img
      class="banner-predeterminado mobile-image"
      alt="predeterminado mov"
      src={{img_predeterminado}}>
    
  {% endif %}

        {% endfor %}
        </div>
</section>

<style>
    /* Estilos generales para diapositivas de escritorio */
.diapositiva-nueva-desktop {
    display: block; /* Muestra por defecto */
}

/* Estilos generales para diapositivas móviles - ocultos por defecto */
.diapositiva-nueva-mobil {
    display: none;
}
.desktop-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
@media (max-width: 1024px) {
    .desktop-image img {
        width: 100%;
        height: 600px; /* Altura para pantallas hasta 1024px */
        object-fit: contain;
    }
}
@media (min-width: 1025px) and (max-width: 1536px) {
    .desktop-image img {
        width: 100%;
        height: 700px; /* Altura para pantallas entre 1025px y 1536px */
        object-fit: contain;
    }
}
@media (min-width: 1537px) {
    .desktop-image img {
        width: 100%;
        height: 800px; /* Altura para pantallas de 1537px en adelante */
        object-fit: contain;
    }
}
@media (max-width: 767px) {
    /* Oculta las diapositivas de escritorio en dispositivos móviles */
    .diapositiva-nueva-desktop {
        display: none;
    }

    /* Muestra las diapositivas móviles en dispositivos móviles */
    .diapositiva-nueva-mobil {
        display: block;
    }
}

/* Consultas de medios para dispositivos de escritorio */
@media (min-width: 768px) {
    /* Muestra las diapositivas de escritorio en dispositivos de escritorio */
    .diapositiva-nueva-desktop {
        display: block;
    }

    /* Oculta las diapositivas móviles en dispositivos de escritorio */
    .diapositiva-nueva-mobil {
        display: none;
    }
}
</style>

<script>
$(document).ready(function(){
  // Inicializar Swiper para escritorio
  var swiperDesktop = new Swiper('.diapositiva-nueva-desktop', {
    // Opciones de Swiper para escritorio
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    // Otras opciones como pagination, navigation, etc.
  });

  // Inicializar Swiper para móvil
  var swiperMobile = new Swiper('.diapositiva-nueva-mobil', {
    // Opciones de Swiper para móvil
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    // Otras opciones como pagination, navigation, etc.
  });
});

  
</script>

{% comment %}
Banner ropa - Fin
{% endcomment %}{% schema %}
  {
    "name": "Diapositiva nueva",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "texto_titulo",
        "label": "Titulo (Aun no esta activo para usarlo)"


      }
     
],
      "blocks": [
    {
      "type":"announcement",
      "name":"Diapositva +",
      "limit":4,
      "settings": [
        {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen para desktop"


      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen para mobil"

      },
      {
      "type":"url",
      "id":"link_de_diapositiva",
      "label":"Link de la diapositiva"
      }
      ]
    }

      ],
    "presets": [
      {
        "name": "Diapositiva nueva",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}