{{ 'diapositiva-nueva.css' | asset_url | stylesheet_tag }}



<!-- Enlace al CSS de Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<!-- Enlace al JS de Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>


{%- liquid
 assign img_predeterminado="https://res.cloudinary.com/darps1cta/image/upload/v1681937216/sitioweb/5_razones_por_las_que_tu_negocio_necesita_una_tienda_virtual_en_Shopify_elugcl.jpg"

 -%}
 
<section class='swiper-container diapositiva-nueva-desktop' >

<div class="swiper-wrapper">

      {%- for block in section.blocks -%}
   

        {% if block.settings.image_desktop  %}
        {% if block.settings.link_de_diapositiva %}
        
    <a href="{{block.settings.link_de_diapositiva}}" class="desktop-image swiper-slide">
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "desktop-image swiper-slide" }}
    </a>
  

    {% else %}
   
    <div class="desktop-image swiper-slide" >
      {{ block.settings.image_desktop | image_url: width: 1536, height: 600 | image_tag: sizes: "(max-width: 768px) 40vw, (max-width: 1280px) 720px, (max-width: 1920px) 1280px, (max-width: 2560px) 1920px, (max-width: 3840px) 2560px", class: "desktop-image" }}
    </div>

    
  {% endif %}
  {% else %}
  
    <img
      class="banner-predeterminado desktop-image"
      alt="predeterminado desk"
      src={{img_predeterminado}}>
   
  {% endif %}
{% endfor %}      
</div>
  
</section>
<section class=' swiper-container diapositiva-nueva-mobil'>
    <div class="swiper-wrapper">
  {% for block in section.blocks %}
  {% comment %} MOBIL {% endcomment %}
  {% if block.settings.image_mobile  %}
    {% if block.settings.link_de_diapositiva %}
   
    <a href="{{block.settings.link_de_diapositiva}}" class="mobile-image swiper-slide">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: "mobile-image swiper-slide" }}
    </a>
 
    {% else %}
    
    <div class="mobile-image swiper-slide">
      {{ block.settings.image_mobile | image_url: width: 400, height: 600 | image_tag: width: 360, height: 600, sizes: "(min-width: 750px) 100vw, (min-width: 575px) calc(50vw - 300px), (min-width: 375px) calc(25vw - 150px)", class: "mobile-image swiper-slide" }}
    </div>
  
    {% endif %}
    {% else %}
   
    <img
      class="banner-predeterminado mobile-image"
      alt="predeterminado mov"
      src={{img_predeterminado}}>
    
  {% endif %}

        {% endfor %}
        </div>
</section>

<script>
$(document).ready(function(){
  // Inicializar Swiper para escritorio
  var swiperDesktop = new Swiper('.diapositiva-nueva-desktop', {
    // Opciones de Swiper para escritorio
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    // Otras opciones como pagination, navigation, etc.
  });

  // Inicializar Swiper para móvil
  var swiperMobile = new Swiper('.diapositiva-nueva-mobil', {
    // Opciones de Swiper para móvil
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    // Otras opciones como pagination, navigation, etc.
  });
});

  
</script>

{% comment %}
Banner ropa - Fin
{% endcomment %}{% schema %}
  {
    "name": "Diapositiva nueva",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "texto_titulo",
        "label": "Titulo (Aun no esta activo para usarlo)"


      }
     
],
      "blocks": [
    {
      "type":"announcement",
      "name":"Diapositva +",
      "limit":4,
      "settings": [
        {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen para desktop"


      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen para mobil"

      },
      {
      "type":"url",
      "id":"link_de_diapositiva",
      "label":"Link de la diapositiva"
      }
      ]
    }

      ],
    "presets": [
      {
        "name": "Diapositiva nueva",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}