{{ 'diapositiva-nueva.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{%- liquid
 assign img_predeterminado="https://res.cloudinary.com/darps1cta/image/upload/v1681937216/sitioweb/5_razones_por_las_que_tu_negocio_necesita_una_tienda_virtual_en_Shopify_elugcl.jpg"
-%}

<section class='diapositiva-nueva'>
  {%- for block in section.blocks -%}
    <div>
      {% if block.settings.image_desktop %}
        <img src="{{ block.settings.image_desktop | img_url: '1536x600' }}" alt="{{ block.settings.image_desktop.alt | escape }}">
      {% else %}
        <img src="{{ img_predeterminado }}" alt="Imagen predeterminada">
      {% endif %}
    </div>
  {% endfor %}
</section>

<section class='diapositiva-nueva-mobil'>
  {%- for block in section.blocks -%}
    <div>
      {% if block.settings.image_mobile %}
        <img src="{{ block.settings.image_mobile | img_url: '400x600' }}" alt="{{ block.settings.image_mobile.alt | escape }}">
      {% else %}
        <img src="{{ img_predeterminado }}" alt="Imagen predeterminada">
      {% endif %}
    </div>
  {% endfor %}
</section>

<script>
  $(document).ready(function(){
    $('.diapositiva-nueva').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      adaptiveHeight: true
    });

    $('.diapositiva-nueva-mobil').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      adaptiveHeight: true
    });
  });
</script>

{% comment %}
Banner ropa - Fin
{% endcomment %}{% schema %}
  {
    "name": "Diapositiva nueva",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "texto_titulo",
        "label": "Titulo (Aun no esta activo para usarlo)"


      }
     
],
      "blocks": [
    {
      "type":"announcement",
      "name":"Diapositva +",
      "limit":4,
      "settings": [
        {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen para desktop"


      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen para mobil"

      },
      {
      "type":"url",
      "id":"link_de_diapositiva",
      "label":"Link de la diapositiva"
      }
      ]
    }

      ],
    "presets": [
      {
        "name": "Diapositiva nueva",
        "blocks": [
          {
            "type": "announcement"
          }
        ]
      }
    ]
  }
{% endschema %}